html,
body {
	margin: 0;
	height: 100%;
}

body {
	background: -webkit-linear-gradient(to right, #240b36, #c31432);
	background: linear-gradient(to right, #240b36, #c31432);
}

#header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

h1 {
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
	background-image: linear-gradient(to right, #78ffd6, #a8ff78);
}
