@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@media screen and (min-width: 990px) {
	/* Breakpoints: 990px and 600px*/

	body {
		font-family: Open Sans;
	}

	.flex-container {
		background-color: hsl(210, 100%, 50%);
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-basis: 100%;
	}

	#logo a {
		color: black;
		text-transform: uppercase;
		text-decoration: none;
	}

	#logo {
		margin: 0;
		border-bottom: 2px solid blue;
		margin-left: 20px;
	}

	.navigation {
		align-self: flex-end;
		justify-self: flex-end;
		display: flex;
		flex-direction: row;
		padding-left: 0;
		width: 40vw;
		margin-left: auto;
		margin-right: 20px;
	}

	.navigation li {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-grow: 1;
	}

	.navigation li:last-of-type {
		border-bottom: none;
	}

	.navigation li:hover {
		background-color: hsl(210, 100%, 60%);
	}

	.navigation li a {
		color: white;
		text-decoration: none;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

@media screen and (min-width: 600px) and (max-width: 990px) {
	body {
		font-family: Open Sans;
	}

	.flex-container {
		background-color: hsl(210, 100%, 50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-basis: 100%;
	}

	#logo a {
		color: black;
		text-transform: uppercase;
		text-decoration: none;
	}

	#logo {
		margin-bottom: 0;
		border-bottom: 2px solid blue;
	}

	.navigation {
		display: flex;
		flex-direction: row;
		padding-left: 0;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.navigation li {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		width: 100px;
		flex-basis: 25%;
		border: none;
	}
	.navigation li:first-of-type {
		border-top: none;
	}
	.navigation li:hover {
		background-color: hsl(210, 100%, 60%);
	}

	.navigation li a {
		color: white;
		text-decoration: none;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 600px) {
	body {
		font-family: Open Sans;
	}

	.flex-container {
		background-color: hsl(210, 100%, 50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-basis: 100%;
	}

	#logo a {
		color: black;
		text-transform: uppercase;
		text-decoration: none;
	}

	#logo {
		margin-bottom: 0;
		border-bottom: 2px solid blue;
	}

	.navigation {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-bottom: 0px;
	}

	.navigation li {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		width: calc(100% - 5vh);
		flex-basis: 25%;
		border-bottom: 1px solid hsl(150, 100%, 50%);
	}
	.navigation li:first-of-type {
		border-top: 1px solid hsl(150, 100%, 50%);
	}
	.navigation li:last-of-type {
		border-bottom: none;
	}

	.navigation li:hover {
		background-color: hsl(210, 100%, 60%);
	}

	.navigation li a {
		color: white;
		text-decoration: none;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}
